# Assignment 3
> Benzon Carlitos Salazar

In [1]:
import pandas as pd

In [2]:
movie_data_csv = "../data/movie_data.csv"
rt_movie_data_csv = "../data/rt_movie_data.csv"

# Load table A and table B
table_a = pd.read_csv(movie_data_csv)
table_b = pd.read_csv(rt_movie_data_csv)

table_a.reset_index(drop=True, inplace=True)
table_b.reset_index(drop=True, inplace=True)

In [3]:
table_c = []

In [4]:
# Counter for generating IDs in table C
counter = 0

In [5]:
# Loop through each row in table A and table B to find matching tuples
for _, row_a in table_a.iterrows():
    for _, row_b in table_b.iterrows():
        # Your matching logic goes here
        if row_a['Year'] == row_b['Year']:
            # If a match is found, add the tuple pair to table C
            table_c.append({'ID': counter, 
                            'ltable_ID': row_a['ID'], 
                            'rtable_ID': row_b['ID'], 
                            **row_a[1:].to_dict(), 
                            **row_b[1:].to_dict()})
            counter += 1

In [6]:
table_c = pd.DataFrame(table_c)

In [7]:
table_c.head()

,ID,ltable_ID,rtable_ID,Title,Year,Rating,Rank
0,0,42b83ba8-0168-450c-b224-9115721353cb,16962e08-8bbb-486b-a7d1-6c224a4a6a06,Aguirre: The Wrath of God,1972,96,465
1,1,42b83ba8-0168-450c-b224-9115721353cb,511d0bbf-13df-43e4-b674-1acb9c3940bc,Cabaret,1972,93,466
2,2,42b83ba8-0168-450c-b224-9115721353cb,895e53e5-a0a6-4dfc-aaf3-74369f06c410,Deliverance,1972,89,467
3,3,42b83ba8-0168-450c-b224-9115721353cb,c8267911-803d-400d-b4d6-61d668e941ff,Fat City,1972,100,468
4,4,42b83ba8-0168-450c-b224-9115721353cb,3002eced-5699-4b0e-972e-4dc242fb6413,Jeremiah Johnson,1972,95,469

In [8]:
# Save table C to a CSV file
with open("../data/table_C.csv", "wb") as table_c_out:
    table_c.to_csv(table_c_out, index=False)

In [9]:
print(f"Size of Table A: Number of rows = {len(table_a)}")
print(f"Size of Table B: Number of rows = {len(table_b)}")
print(f"Total Number of Tuple Pairs in Cartesian Product of A and B: {len(table_a) * len(table_b)}")
print(f"Total Number of Tuple Pairs in Table C: Number of rows = {len(table_c)}")

Size of Table A: Number of rows = 1000
Size of Table B: Number of rows = 1000
Total Number of Tuple Pairs in Cartesian Product of A and B: 1000000
Total Number of Tuple Pairs in Table C: Number of rows = 10646